<div class="row">
  <div class="col-md-12">GMOTD</div>
</div>
<div class="row">
  <main class="news">
    {{!-- {{#collection contentBinding="controller" height=500 rowHeight=50}}
    {{name}}
    {{/collection}} --}}
    {{!-- {{view LandingEmber.ListView contentBinding="controller"}} --}}
  </main>
</div>
{{!--
<div class="row">
  <div class="col-md-6">
    <div class="timeline">
    <dl>
      <dt>Apr 2014</dt>
      <dd class="pos-right clearfix">
        <div class="circ" style="background-color: red;"></div>
        <div class="time">{{format-date date}}</div>
        <div class="events">
          <div class="pull-left"><img class="events-object img-responsive" src="//placehold.it/180x180" alt=""></div>
          <div class="events-body">
          <h4 class="events-heading">
            Hello
          </h4>
          <p>World</p>
          </div>
        </div>
      </dd>
      <dd class="pos-right clearfix"></dd>
      <dt>Apr 2014</dt>
      <dd class="pos-right clearfix"></dd>
      <dd class="pos-right clearfix"></dd>
    </dl>
  </div>
  </div>
</div> --}}